/*
 * CSS designed for BasiliX
 * -----------------------------------
 * Theme        = Newsforge
 * Browser      = MS Internet Explorer
 * -----------------------------------
 * derived from newsforge.css by rotten
 * ek$i sozluk: http://sozluk.sourtimes.org
 *
 * -arslanm
 *
 */

/* General */
BODY {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 8pt;
	color: white;
	background-color: #666666;
	scrollbar-face-color: #ffcc66;
	scrollbar-highlight-color: #ffbd33;
	scrollbar-3dlight-color: #000000;
	scrollbar-darkshadow-color: #000000;
	scrollbar-shadow-color: #ffb824;
	scrollbar-arrow-color: #ffcc66;
	scrollbar-track-color: #666666;
}

A {
	color: #ffcc66;
	text-decoration: none;
}

A:Hover {
	background-color: #3b3b3b;
	color: white;
}

HR {
	color: #cccccc;
	height: 1px;
}

INPUT,SELECT {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 8pt;
	font-weight: normal;
	color: white;
	background-color: #585858;
	list-style-type: disc;
	list-style-position: inside;
	line-height: 8pt;
	border: 1px solid black;
	scrollbar-face-color: #ffcc66;
	scrollbar-highlight-color: #ffbd33;
	scrollbar-3dlight-color: #000000;
	scrollbar-darkshadow-color: #000000;
	scrollbar-shadow-color: #ffb824;
	scrollbar-arrow-color: #ffcc66;
	scrollbar-track-color: #666666;
}

TEXTAREA {
	background-color: #585858;
	color: white;
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 8pt;
	font-weight:normal;
	cursor: crosshair;
	width: 100%;
	scrollbar-face-color: #ffcc66;
	scrollbar-highlight-color: #ffbd33;
	scrollbar-3dlight-color: #000000;
	scrollbar-darkshadow-color: #000000;
	scrollbar-shadow-color: #ffb824;
	scrollbar-arrow-color: #ffcc66;
	scrollbar-track-color: #666666;
}

PRE {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 9pt;
	font-weight: medium;
	background-color: #666666;
	color: white;
}


/* Error/info message displaying */
.error {
	font-family: tahoma,verdana,arial,helvetica;
	font-size: 10pt;
	font-weight: bold;
	background-color: #ffcc66;
	color: black;
        border-style: outset;
        border-width: 1;
}

.csserr {
	font-family: arial;
	font-size: 1px;
	color: #666666;
}

.info {
	font-family: tahoma,verdana,arial,helvetica;
	font-size: 10pt;
	font-weight: bold;
	background-color: #ffcc66;
	color: black;
        border-style: outset;
        border-width: 1;
}

/* Used to border the tables with color */
.tblborder {
	background-color: #c0c0c0;
}

/* This is the same as BODY */
.normalbg {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 8pt;
	color: white;
	background-color: #666666;
}

/* Buttons */
.button {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 8pt;
	font-weight: bold;
	background-color: #ffcc66;
	color: black;
	border-style: outset;
	border-width: 1;
}
.butover {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 8pt;
	font-weight: bold;
	background-color: #666666;
	color: #efefef;
	border-style: outset;
	border-width: 1;
}

/* Login menu */
.login {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 8pt;
	font-weight: normal;
	background-color: #666666;
	color: black;
	line-height: 12pt;
}

/* The menu links */
.menutop {
	background-color: #ffcc66;
}

.menuleft {
	background-color: #ffcc66;
	border: 1px solid black;
}

/* Page informative header */
.pagehdr {
	font-family: tahoma,verdana,arial,helvetica;
	font-size: 10pt;
	font-weight: normal;
	background-color: #ffcc66;
	color: black;
	line-height: 8pt;
	border: 1px solid black;
}

/* Copyright notice */
.copy {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 7pt;
	color: black;
}

/* Folder list */
.folderhdr {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 10pt;
	background-color: #ffcc66;
	color: black;
	font-weight: medium;
	line-height: 9pt;
	border: 1px solid black;
}

.folderlst {
	font-family: tahoma,verdana,arial,helvetica;
	font-size: 9pt;
	background-color: #666666;
	color: white;
}

.folderlst A {
	color: #ffcc66;
}

.folderlst A:hover {
	text-decoration: underline;
}

/* Mbox listing */
.chkfldr {
	font-family: tahoma,verdana,arial,helvetica;
	font-size: 9pt;
	background-color: #ffcc66;
	color: black;
	border-style: outset;
	border-width: 1;
}
       
.chknext {
	font-family: tahoma,verdana,arial,helvetica;
	font-size: 9pt;
	background-color: #585858;
	color: white;
	border-style: outset;
	border-width: 1;
	border-color: black;
}
.chknext A {
	color: white;
}
.mboxhdr {
	font-family: tahoma,verdana,arial,helvetica;
	font-size: 10pt;
	background-color: #ffcc66;
	color: black;
	font-weight: normal;
	line-height: 10pt;
	border-style: outset;
	border-width: 1;
}

.mboxhdr A {
	color: black;
}

.mboxhdr A:hover {
	background-color: #3b3b3b;
	color: white;
	text-decoration: underline;
}

.mboxhdract {
	font-family: tahoma,verdana,arial,helvetica;
	font-size: 10pt;
	background-color: #585858;
	color: white;
	font-weight: normal;
	line-height: 8pt;
	border-style: inset;
	border-width: 1;
}

.oldmsg {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 8pt;
	font-weight: normal;
	background-color: #585858;
	color: white;
	line-height: 8pt;
}
.oldmsg A {
	color: white;
}

.oldmsg A:Hover {
	color: #ffcb02;
	background-color: transparent;
	text-decoration: underline;
}

.newmsg {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 8pt;
	font-weight: normal;
	background-color: #ffcc66;
	color: black;
	line-height: 8pt;
}

.newmsg A {
	color: black;
}

.newmsg A:Hover {
	color: black;
	background-color: transparent;
	text-decoration: underline;
}

/* Read Msg */
.rmsghdr {
	font-family: tahoma,verdana,arial,helvetica;
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
	background-color: #ffcc66;
	color: black;
}
.rmsgval {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 10pt;
	line-height: 12pt;
	background-color: #ffcc66;
	color: black;
}
.rmsgval A {
	color: black;
}

.rmsgbod {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 9pt;
	font-weight: medium;
	background-color: #666666;
	color: white;
}

/* Compose Msg */
.cmsghdr {
	font-family: tahoma,verdana,arial,helvetica;
	font-size: 10pt;
	font-weight: bold;
	line-height: 12pt;
	background-color: #666666;
	color: white;
}
.cmsgval {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 10pt;
	line-height: 12pt;
	background-color: #666666;
	color: black;
}
.cmsgbod {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 9pt;
	font-weight: medium;
	background-color: #666666;
	color: black;
}

.cmsgatchlist {
	background-color: #666666;
	color: white;
	font-family: lucida,verdana,tahoma,arial,helvetica;
	font-size: 8pt;
}	

/* Address book */
.addrhdr {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 10pt;
	background-color: #ffcc66;
	color: black;
	font-weight: normal;
	line-height: 8pt;
	border: 1px solid black;
}

.addrlst {
	font-family: verdana,tahoma,arial,helvetica;
	font-size: 8pt;
	font-weight: normal;
	background-color: #666666;
	color: white;
}

