<table border=0 cellpadding=0 cellspacing=0 width=100%>
<td width=80% valign=top class=standard>%breadcrumbs%</td>
<td valign=top class=small>
<a href="links.php?action=reclink&cat=%catid%">Suggest a link for this category</a></td>
<tr></table>