<b><a href="links.php">Links Home</a> : Confirm Delete Category</b><p>
Are you sure you would like to delete category %catid%?<p>\n";
<form action=links.php method=post>
<input type=hidden name=id value="%catid%">
<input type=hidden name=action value=delcat>
<input type=submit name=submit value="Delete Category"><p>