Dear %emailname%,

The link you submitted to %sitename% for inclusion in our links
database has been validated, and is now on display on the site.

Name: %linkname%
URL: %linkurl%

This is a one off mailing to keep you informed of the progress
of your link - you will not be contacted again.

This e-mail was sent to %email%