/* General page style. The scroll bar colours only visible in IE5.5+ */

body { 
	background-color: black;
	scrollbar-face-color: #1b1b1b;
	scrollbar-highlight-color: #3B3B3B;
	scrollbar-shadow-color: #666666;
	scrollbar-3dlight-color: #666666;
	scrollbar-arrow-color:  #ffffff;
	scrollbar-track-color: #4b4b4b;
	scrollbar-darkshadow-color: #666666;
}

/* General font families for common tags */
font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif; }
a:link,a:active,a:visited { color : C51E21; }
a:hover		{ text-decoration: underline; color : e5e5e5; }
hr	{ height: 0px; border: solid white 1px; border-top-width: 1px;}
p, td		{ font-size : 10; color : #e5e5e5; }
h1,h2		{ font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; font-size : 22px; font-weight : bold; text-decoration : none; line-height : 120%; color : #000000;}


/* This is the border line & background colour round the entire page */
.bodyline	{ background-color: black; border: 0px red solid; }

/* This is the outline round the main forum tables */
.forumline	{ background-color: black; border: 0px black solid; }

/* Main table cell colours and backgrounds */
td.row1	{ background-color: #1B1B1B; border-style: solid; border: black; border-width: 1px 1px 1px 1px;}
td.row2	{ background-color: #232323; border-style: solid; border: black; border-width: 1px 1px 1px 1px;}
td.row3	{ background-color: #2B2B2B; border-style: solid; border: black; border-width: 1px 1px 1px 1px;}

/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
		background-color: black;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #e5e5e5; font-size: 10px; font-weight : bold; 
	background-color:black; height: 25px;
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
	background-color:black; border: #e5e5e5; border-style: solid; height: 28px;
}

/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 1px 1px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: #e5e5e5; border-style: solid; height: 28px;
}
td.row3Right,td.spaceRow {
	background-color: black; border: #e5e5e5; border-style: solid;
}

th.thHead,td.catHead { font-size: 10px; border-width: 0px 0px 0px 0px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 0px 0px 0px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 0px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 0px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop	 { border-width: 1px 0px 1px 0px; }
th.thCornerL { border-width: 1px 0px 1px 0px; }
th.thCornerR { border-width: 1px 0px 1px 0px; }
th.thOnlyTop { border-width: 1px 0px 0px 0px; }


/* General text */
.gen { font-size : 10px; }
.genmed { font-size : 10px; }
.gensmall { font-size : 10px; }
.genred { font-size : 10px; color : #C51E21;}
.gen,.genmed,.gensmall { color : #e5e5e5; }
a.gen,a.genmed,a.gensmall { color: #e5e5e5; text-decoration: none; font-size : 10px;}
a.genred { color: #C51E21; text-decoration: none; font-size : 10px;}
a.gen:visited,a.genmed:visited,a.gensmall:visited	{ color: #e5e5e5; text-decoration: none; font-size : 10px;}
a.genred:visited	{ color: #C51E21; text-decoration: none; font-size : 10px;}
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #e5e5e5; text-decoration: underline; font-size : 10px; }
a.genred:hover	{ color: #e5e5e5; text-decoration: underline; font-size : 10px; }

/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 10px; color : #C51E21 }
a.mainmenu		{ text-decoration: none; color : #C51E21; font-size : 10px;}
a.mainmenu:visited	{ text-decoration: none; color : #C51E21; font-size : 10px;}
a.mainmenu:hover{ text-decoration: underline; color : #e5e5e5; font-size : 10px;}


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 11px ; letter-spacing: 0px; color : #C10003;}
a.cattitle		{ text-decoration: none; color : #C10003; font-size : 11px; }
a.cattitle:visited	{ text-decoration: none; font-size : 11px; color : #C10003;}
a.cattitle:hover	{ text-decoration: underline; font-size : 11px; color : #C10003;}


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 11px; color : C51E21; }
a.forumlink 	{ text-decoration: none; color : C51E21; font-size : 11px;}
a.forumlink:visited	{ text-decoration: none; color : #C51E21; font-size : 11px; }
a.forumlink:hover	{ text-decoration: underline; color : #C51E21; font-size : 11px; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #C10003;}
a.nav			{ text-decoration: none; color : #C10003; font-size : 11px; }
a.nav:visited	{ text-decoration: none; color : #C10003; font-size : 11px; }
a.nav:hover		{ text-decoration: underline; color : #C10003; font-size : 11px; }

/* titles for the topics: could specify viewed link colour too */
.topictitle,h1,h2	{ font-weight: bold; font-size: 11px; color : #e5e5e5; }
a.topictitle:link   { text-decoration: none; color : #e5e5e5; font-size : 11px; }
a.topictitle:visited { text-decoration: none; color : #e5e5e5; font-size : 11px; }
a.topictitle:hover	{ text-decoration: underline; color : #e5e5e5; font-size : 11px; }

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 10px; color : #e5e5e5;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #e5e5e5; }

/* The content of the posts (body of text) */
.postbody { font-size : 10px; line-height: 17px; color : #E5E5E5;}
a.postlink:link	{ text-decoration: none; color : #C10003; font-size : 10px; }
a.postlink:visited { text-decoration: none; color : #C10003; font-size : 10px; }
a.postlink:hover { text-decoration: underline; color : #C10003; font-size : 10px; }

/* Quote & Code blocks */
.code { 
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #e5e5e5; letter-spacing: 0px; line-height: 16px;
	background-color: #333333; border: #555555; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #e5e5e5; line-height: 16px;
	background-color: #333333; border: #555555; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #e5e5e5; letter-spacing: -1px;}
a.copyright		{ color: #C10003 ; text-decoration: none; font-size : 10px; }
a.copyright:visited		{ color: #C10003 ; text-decoration: none; font-size : 10px; }
a.copyright:hover { color: #C10003; text-decoration: underline; font-size : 10px; }

/* Form elements */
input,textarea, select {
	color : #111111;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	border-color : ;
	letter-spacing: 0px;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : white;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #D4D0C8;
	color : #black;
	font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;;
}

/* The main submit button option */
input.mainoption {
	background-color : #D4D0C8;
	font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
	background-color : #D4D0C8;
	font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #E3E3E3; border-style: none; }

/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("templates/AdInfinitum/formIE.css"); 