<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="siteURL" value="http://www.YourDomain.com" /><!-- site base url -->
		<add key="rootPath" value="/forum" /><!-- vdir for the forum -->
		<add key="boardTitle" value="dotNetBB Message Board" /><!-- The forum title used in many places -->
		<add key="dataStr" value="SERVER=YOURSERVER;DATABASE=YOURDATABASE;UID=YOURUSERID;PWD=YOURPASSWORD" /><!-- database connection string (must be sql 7 or sql 2000) -->
		<add key="siteAdmin" value="Your Name" /><!-- forum admin name -->
		<add key="siteAdminMail" value="You@YourDomain.com" /><!-- forum admin email -->
		<add key="smtpServer" value="" /><!-- if a remote SMTP server is used -->
	</appSettings>
	<system.web>
        <customErrors mode="Off"/>
    </system.web>
</configuration>