<html>
<head>
<title>PerlCoders MaskURL</title>
</head>
<body>
<p align="left">
Signup is completed, you can use  this link <a href="%editlink%">%editlink%</a> to edit your data.
</p>
</body>
</html>
