<html>
<head>
<title>PerlCoders MaskURL</title>
</head>
<body>
<p align="left">
Here you can enter your AUP for this service, please use the following
form to get users to the signup process.
</p>
<form action="%url%" method="post">
<input type="hidden" name="action" value="signup">
<input type="submit" value="Next &gt;&gt;">
</form>
</body>
</html>
