<html>
<head>
<title>PerlCoders MaskURL</title>
</head>
<body>
<p align="left">
This is the signup form. Customise as you see fit but leave all the form
entries intact. This form is shown when the user has made an error.
</p>
<p align="left">
An error occurred processing your request:<br><br>

<ul>
%errormessage%
</ul>
<br>
</p>
<form action="%url%" method="post">
<input type="hidden" name="action" value="save">
User Name: <input type="text" name="username" maxlength="20" value="%username%"> (e.g. http://yourdomain.com/username)<br>
Password: <input type="password" name="password" maxlength="20"><br>
Verify: <input type="password" name="password_vfy" maxlengh="20"><br>
Site Name: <input type="text" name="sitetitle" maxlength="255" value="%sitetitle%"><br>
Site Description: <input type="text" name="sitedescription" maxlength="255" value="%sitedescription%"><br>
Site Keywords: <input type="text" name="sitekeywords" maxlength="255" value="%sitekeywords%"><br>
Site URL: <input type="text" name="siteurl" maxlength="255" value="%siteurl%"><br>
E-Mail Addy: <input type="text" name="email" maxlength="255" value="%email%"><br>
<br>
<input type="submit" value="Save">
</form>
</body>
</html>
