input {
	font-family: Verdana; font-size: 10px; 
	background-color: #FFFFFF; 
	font-weight: Bold;
	border: 1px solid #000066; 
}
textarea {
	font-family: Verdana; font-size: 10px; 
	background-color: #FFFFFF; 
	font-weight: Bold;
	border: 1px solid #000066; 
}
select {
	font-family: Verdana; font-size: 10px; 
	background-color: #FFFFFF;
	font-weight: Bold;
	border: 1px solid #000066; 
}
.radio {
	font-family: Verdana; font-size: 10px; 
	background-color: transparent; 
	font-weight: Bold;
	border: 0px solid #000066;
}
A:LINK, A:VISITED {
	color : #336666;
	font-family : sans-serif;
	text-decoration : none;
	font-weight : bold;
	font-size : 10px;
}
A:HOVER {
	color : #790000;
	font-family : sans-serif;
	text-decoration : underline;
	font-weight : bold;
	font-size : 10px;
}
.button {
	font-family: Arial; font-size: 13px; 
	background-color: #DDDDDD; 
	font-weight: bold;
	vertical-align: middle;
	border: 1px solid #000000;
}
A.closebutton:LINK, A.closebutton:VISITED {
	color : #000000;
	font-family : sans-serif;
	text-decoration : none;
	font-weight : bold;
	font-size : 12px;
	width: 12px;
	vertical-align: middle;
	text-align: center;
}
A.closebutton:HOVER {
	color : #000000;
	font-family : sans-serif;
	text-decoration : none;
	font-weight : bold;
	font-size : 12px;
}
H1 {
	font-family: Verdana,arial,Helvetica;
	font-size: 14px;
	font-weight: bold;
}
.searchhead {
    color: #FF0000; 
	font-family: Verdana,arial,Helvetica;
	font-size: 11px;
	font-weight: bold;
}
.listhead TD {
    color: #FF0000; 
	font-family: Verdana,arial,Helvetica;
	font-size: 10px;
	font-weight: normal;
	background: #E0E0E0;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
}
.listtable {
    color: #336699; 
	font-family: Verdana,arial,Helvetica;
	font-size: 10px;
	font-weight: normal;
	border-bottom: 1px solid #000000;
}
.errortd {
    color: #FF0000; 
	font-family: Verdana,arial,Helvetica;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
}
.check {
    font-family: Verdana; font-size: 10px; 
	background-color: #F0F0F0; 
	font-weight: Bold;
	border: 1px solid #000000; 
	border-bottom-color : Silver;
	border-right-color : Silver;
}
H2 {
	font-family: Verdana,arial,Helvetica;
	font-size: 14px;
	font-weight: normal;
	color: #660099;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}
.td4textarea {
    color: #336699;
    font-family: Verdana;
	font-size: 10px; 
	background-color: #F5F5F5; 
	font-weight: normal;
	border: 1px solid #D5D5D5;
	padding : 15px;
}
.editlng {
    color: #444444;
    font-family: Verdana;
	font-size: 11px; 
	font-weight: bold;
	padding : 25px;
}
.mm {
    color: #000000;
    font-family: Verdana;
	font-size: 11px; 
	font-weight: normal;
}
.hlp {
    color: #112211;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
}
A.hlp:LINK, A.hlp:VISITED {
	color : #4141C4;
    font-family : arial;
	text-decoration : none;
	font-weight : bold;
	font-size : 11px;
	width: 11px;
	vertical-align: middle;
	text-align: center;
}
A.hlp:HOVER {
	color : #999900;
	font-family : sans-serif;
	text-decoration : none;
	font-weight : bold;
	font-size : 11px;
}
A.hlpfrm:LINK, A.hlpfrm:VISITED {
	color : #FFFFFF;
    font-family : arial;
	text-decoration : none;
	font-weight : bold;
	font-size : 11px;
	width: 11px;
	vertical-align: middle;
	text-align: center;
}
A.hlpfrm:HOVER {
	color : #FF0000;
	font-family : sans-serif;
	text-decoration : none;
	font-weight : bold;
	font-size : 11px;
}
.smalltext {
    font-family: Verdana;
    font-size: 10px; 
    color: #444444; 
    font-weight: normal;
}
.text {
    font-family: arial;
    font-size: 12px; 
    color: #444444; 
    font-weight: normal;
}
A.nxt:LINK, A.nxt:VISITED {
	color : #222222;
	font-family : Arial;
	text-decoration : none;
	font-weight : bold;
	font-size : 12px;
}
A.nxt:HOVER {
	color : #777777;
	font-family : Arial;
	text-decoration : underline;
	font-weight : bold;
	font-size : 12px;
}