dbFile|filecheck.dat
numberOfLevels|3
olderThan1|168
olderThan2|336
olderThan3|720
HTML0|<img src="../../images/7.gif" height="12" width="34">
HTML1|<img src="../../images/14.gif" height="12" width="34">
HTML2|<img src="../../images/30.gif" height="12" width="34">
HTML3|
password|BlgyN/jGusLmI
adminScriptFile|http://www.upoint.net/cgi-bin/filecheck/filecheckadmin.cgi