<html>
<head>
<title>PerlCoders MaskUrl -- Admin Interface</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">
<center>
<input type="hidden" name="action" value="login">
<table border="0" width="90%">
<tr>
	<td align="center" colspan="2" bgcolor="blue">
	<font color="#FFFFFF">An Error has Occurred</font>
	</td>
</tr>
<tr>
	<td align="center">Error</td>
	<td align="left">%errormessage%</td>
</tr>
</table>
</center>
</body>
</html>
