<html>
<head>
<title>PerlCoders MaskUrl -- Admin Interface</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">
<center>
<table border="0" width="90%">
<tr>
	<td align="center" colspan="2" bgcolor="blue">
	<font color="#FFFFFF">E-Mail Sent</font>
	</td>
</tr>
<tr>
	<td align="center" colspan="2">
	An e-mail has been sent containing a list of all the e-mail addresses
	currently in use by users using the MaskURL system.
	</td>
</tr>
<tr>
	<td align="center" colspan="2">
		<form action="%url%" method="post">
		<input type="hidden" name="action" value="main">
		<input type="submit" value="Main Menu">
		</form>
	</td>
</tr>
</table>
</center>
</body>
</html>
