<html>
<head>
<title>PerlCoders MaskUrl -- Admin Interface</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">
<center>
<form action="%url%" method="post">
<input type="hidden" name="action" value="newpass">
<table border="0" width="90%">
<tr>
	<td align="center" colspan="2" bgcolor="blue">
	<font color="#FFFFFF">Before you can use the Admin Interface you have to set the admin password.</font>
	</td>
</tr>
<tr>
	<td align="center">Password</td>
	<td align="left"><input type="password" name="password" maxlength="20"></td>
</tr>
<tr>
	<td align="center">Password Verify</td>
	<td align="left"><input type="password" name="password_vfy" maxlength="20"></td>
</tr>
<tr>
	<td align="right" colspan="2">
		<input type="submit" value="Next &gt;&gt;">
	</td>
</tr>
</table>
</form>
</center>
</body>
</html>
