<html>
<head>
<title>PerlCoders MaskURL</title>
</head>
<body>
<p align="left">
Your changes have been saved. Click the button below to return to the main menu.
</p>
<form action="%url%" method="post">
<input type="hidden" name="action" value="main">
<input type="hidden" name="username" value="%username%">
<input type="submit" value="Main Menu">
</form>
</body>
</html>
