<html>
<head>
<title>PerlCoders MaskURL</title>
</head>
<body>
<p align="left">
This is the login screen. Leave the form fields intact
</p>
<form action="%url%" method="post">
<input type="hidden" name="action" value="login">
Username: <input type="text" name="username" maxlength="20"><br>
Password: <input type="password" name="password" maxlength="20"><br><br>
<input type="submit" value="Login &gt;&gt;">
</form>
</body>
</html>
