<html>
<head>
<title>PerlCoders MaskURL</title>
</head>
<body>
<p align="left">
This is the main menu. Explain to users here that they can edit their details by clicking the edit details button.
</p>
<form action="%url%" method="post">
<input type="hidden" name="action" value="edit">
<input type="hidden" name="username" value="%username%">
<input type="submit" value="Edit Details">
</form>
</body>
</html>
