<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body text="#000000" background="!BACKGROUND!" bgcolor="#FFFFCC">

<form method="POST" action="!HOMECGI!/activate.pl">
  <div align="center"><center><table border="0" cellpadding="5" width="90%">
    <tr>
      <td width="100%" colspan="2" valign="top" align="center"><div align="center"><center><p><small><img
      src="!HOME!/pics/activate.gif" alt="Activate Membership Account" border="0"></small></p>
      </center></div><div align="center"><center><p><font face="!FONT!" size="!SIZE!">Welcome
      back to !TITLE!!.</font></p>
      </center></div><div align="center"><center><p><font face="!FONT!" size="!SIZE!">In order
      to activate your membership account, please enter your activation code in the text box
      below to activate your membership account. Please re-sent my activation code to me: <a
      href="!HOMECGI!/code.pl"><strong>!FORMEMAILADDRESS!</strong></a></font></td>
    </tr>
    <tr>
      <td width="100%" colspan="2"><hr noshade color="#FF9933" size="1">
      </td>
    </tr>
    <tr>
      <td width="45%" bgcolor="#FFE699" align="right"><font face="!FONT!" size="!SIZE!"><strong>Activation
      Code:</strong></font></td>
      <td width="55%" bgcolor="#FFE699" align="left"><big><font face="!FONT!" size="!SIZE!"><input
      type="password" size="20" name="code"></font></big></td>
    </tr>
    <tr>
      <td width="100%" colspan="2"><hr noshade color="#FF9933" size="1">
      </td>
    </tr>
    <tr>
      <td width="100%" colspan="2"><div align="center"><center><p><input
      src="!HOME!/pics/enter.gif" name="I1" alt="Enter" type="image" border="0"></td>
    </tr>
  </table>
  </center></div>
</form>
</body>
</html>
