<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body text="#000000" background="!BACKGROUND!" bgcolor="#FFFFCC">
<div align="center"><center>

<table border="0" cellpadding="5" width="90%">
  <tr>
    <td width="100%" valign="top" align="center"><p align="center"><font face="!FONT!"
    size="!SIZE!"><big><img src="!HOME!/pics/admin.gif" alt="Administractive Center"
    border="0"></big></font></p>
    <hr noshade size="10" color="#FFE699">
    <div align="center"><center><table border="0" cellpadding="5" width="100%">
      <tr>
        <td width="100%" align="center" valign="middle" colspan="2"><p align="center"><font
        face="!FONT!" size="!SIZE!">Totals: &nbsp; !REGISTERED! inactivated&nbsp;member(s) -
        !ACTIVATED! registered&nbsp;member(s) - !TOTALPROFILES! profile(s).</font></td>
      </tr>
      <tr>
        <td width="100%" height="25" colspan="2"></td>
      </tr>
      <tr>
        <td width="21%" align="right" valign="middle" bgcolor="#FFE699"><font face="!FONT!"
        size="!SIZE!">1.</font></td>
        <td width="37%" valign="middle" align="left" bgcolor="#FFE699"><a
        href="!HOMECGI!/admingeneral.pl"><font face="!FONT!" size="!SIZE!">General Configuration</font></a></td>
      </tr>
      <tr>
        <td width="21%" align="right" valign="middle" bgcolor="#FFE699"><font face="!FONT!"
        size="!SIZE!">2.</font></td>
        <td width="37%" valign="middle" align="left" bgcolor="#FFE699"><a
        href="!HOMECGI!/adminsystem.pl"><font face="!FONT!" size="!SIZE!">System Configuration</font></a></td>
      </tr>
      <tr>
        <td width="21%" align="right" height="30" valign="middle" bgcolor="#FFE699"><font
        face="!FONT!" size="!SIZE!">3.</font></td>
        <td width="37%" height="30" valign="middle" align="left" bgcolor="#FFE699"><a
        href="!HOMECGI!/adminmanage.pl"><font face="!FONT!" size="!SIZE!">Member Manager</font></a></td>
      </tr>
      <tr>
        <td width="21%" align="right" height="30" valign="middle" bgcolor="#FFE699"><font
        face="!FONT!" size="!SIZE!">4.</font></td>
        <td width="37%" height="30" valign="middle" align="left" bgcolor="#FFE699"><font
        face="!FONT!" size="!SIZE!"><a href="!HOMECGI!/adminads.pl">Advertisement Manager</a></font></td>
      </tr>
      <tr>
        <td width="21%" align="right" height="30" valign="middle" bgcolor="#FFE699"><font
        face="!FONT!" size="!SIZE!">5.</font></td>
        <td width="37%" height="30" valign="middle" align="left" bgcolor="#FFE699"><a
        href="!HOMECGI!/adminlogout.pl"><font face="!FONT!" size="!SIZE!">Logout Administrative
        Center</font></a></td>
      </tr>
    </table>
    </center></div></td>
  </tr>
</table>
</center></div>
</body>
</html>
