<html>

<head>
<meta http-equiv="REFRESH" content="!REDIRECT!; URL=!HOMECGI!/admin.pl">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" background="!BACKGROUND!">
<div align="center"><center>

<table border="0" cellpadding="5" width="90%">
  <tr>
    <td width="100%" align="center"><font face="!FONT!" size="!SIZE!"><img
    src="!HOME!/pics/confirm.gif" alt="Confirmation"></font><br>
    <font face="!FONT!" size="!SIZE!"><br>
    <br>
    <br>
    !MESSAGE!<br>
    <br>
    <br>
    <br>
    <a href="!HOMECGI!/admin.pl">Back to the Administrative Center</a>&nbsp; |&nbsp; <a
    href="!HOMECGI!/adminlogout.pl">Logout the Administrative Center</a><br>
    <br>
    <br>
    <br>
    </font><font color="#FF0000" face="!FONT!" size="!SIZE!"><strong>Note: Automatically
    Return to the Administrative Center after !REDIRECT! seconds<br>
    </strong></font></td>
  </tr>
</table>
</center></div>
</body>
</html>
