<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" background="!BACKGROUND!">
<div align="center"><center>

<table border="0" cellpadding="5" width="90%">
  <tr>
    <td width="100%" valign="top" align="center"><div align="center"><center><table border="0"
    cellpadding="5" width="100%">
      <tr>
        <td width="100%"><p align="center"><font face="!FONT!" size="!SIZE!"><big><img
        src="!HOME!/pics/ad.gif" alt="Ad Manager" border="0"></big></font></p>
        <hr noshade size="10" color="#FFE699">
        <div align="center"><center><table border="0" cellpadding="5" width="100%">
          <tr>
            <td width="24%" align="right" valign="top" height="50"><font face="!FONT!" size="!SIZE!"></font></td>
            <td width="34%" valign="top" align="left" height="50"><font face="!FONT!" size="!SIZE!">*
            This option is available in Professional Edition only.</font></td>
          </tr>
          <tr>
            <td width="24%" align="right" valign="top" bgcolor="#FFE699"><font face="!FONT!"
            size="!SIZE!">1.</font></td>
            <td width="34%" valign="top" align="left" bgcolor="#FFE699"><font face="!FONT!"
            size="!SIZE!">Insert/Change Ad *</font></td>
          </tr>
          <tr>
            <td width="24%" align="right" valign="top" bgcolor="#FFE699"><font face="!FONT!"
            size="!SIZE!">2.</font></td>
            <td width="34%" valign="top" align="left" bgcolor="#FFE699"><font face="!FONT!"
            size="!SIZE!">Remove Ad *</font></td>
          </tr>
        </table>
        </center></div></td>
      </tr>
    </table>
    </center></div></td>
  </tr>
</table>
</center></div>
</body>
</html>
