<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" background="!BACKGROUND!">
<div align="center"><center>

<table CELLPADDING="0" border="0" WIDTH="90%" cellspacing="0">
  <tr>
    <td width="100%"><form method="POST" action="!HOMECGI!/advanced2.pl">
      <input type="hidden" name="address1" value="Doesn't Matter"><input type="hidden"
      name="address2" value="Doesn't Matter"><input type="hidden" name="category"
      value="Doesn't Matter"><input type="hidden" name="city" value="Doesn't Matter"><input
      type="hidden" name="companyemailaddress" value="Doesn't Matter"><input type="hidden"
      name="country" value="Doesn't Matter"><input type="hidden" name="date"
      value="Doesn't Matter"><input type="hidden" name="date2" value="Doesn't Matter"><input
      type="hidden" name="emailaddr" value="Doesn't Matter"><input type="hidden"
      name="establish" value="Doesn't Matter"><input type="hidden" name="fax"
      value="Doesn't Matter"><input type="hidden" name="homepage" value="Doesn't Matter"><input
      type="hidden" name="host" value="Doesn't Matter"><input type="hidden" name="id"
      value="Doesn't Matter"><input type="hidden" name="ip" value="Doesn't Matter"><input
      type="hidden" name="name" value="Doesn't Matter"><input type="hidden" name="phone"
      value="Doesn't Matter"><input type="hidden" name="searchtype" value="1"><input
      type="hidden" name="state" value="Doesn't Matter"><input type="hidden" name="zipcode"
      value="Doesn't Matter"><table border="0" cellpadding="0" width="100%" cellspacing="0">
        <tr>
          <td width="100%" valign="bottom" align="right"><div align="center"><center><p><input
          type="text" name="keys" size="50" style="font-family: !FONT!, !FONT!">&nbsp; <input
          src="!HOME!/pics/search.gif" name="I1" alt="Enter" type="image" align="absbottom">
          &nbsp;&nbsp; <font face="!FONT!" size="!SIZE!" color="#000000"><em><a
          href="!HOMECGI!/advanced.pl">advanced search</a></em></font></td>
        </tr>
      </table>
    </form>
    </td>
  </tr>
</table>
</center></div><div align="center"><center>

<table CELLPADDING="5" border="0" WIDTH="90%">
  <tr align="center">
    <td colspan="2" height="10"></td>
  </tr>
  <tr align="center">
    <td valign="middle" align="left" height="20"><p align="left"><font face="!FONT!"
    size="!SIZE!" color="#000000"><strong><a href="!HOMECGI!/index.pl">Home</a> &gt; </strong></font><b><font
    face="!FONT!" size="!SIZE!">Family Guide</font></b><font face="!FONT!" size="!SIZE!"
    color="#000000"><strong> </strong><em>(!NO!)</em></font></td>
    <td valign="middle" align="right" height="20"><font face="!FONT!" size="!SIZE!"
    color="#000000"><em><p align="right"></em>» <a href="!HOMECGI!/all.pl">search all
    categories</a></font></td>
  </tr>
  <tr align="center">
    <td valign="middle" align="center" colspan="2"><hr noshade color="#FF9933" size="1">
    </td>
  </tr>
</table>
</center></div><div align="center"><center>

<table CELLPADDING="5" border="0" WIDTH="90%">
  <tr align="center">
    <td valign="top" align="left" width="5%"></td>
    <td valign="top" align="left" width="45%"><ul>
      <font face="!FONT!" size="!SIZE!" color="#000000">
      <li><strong><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Adoption Services">Adoption
        Services</a></strong><em> (!NO1!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Children's Services %26 Activities Information"><strong>Children's
        Services &amp; Activities Information</strong></a><em> (!NO2!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Cleaners"><strong>Cleaners</strong></a><em>
        (!NO3!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Day Care Centers %26 Nurseries"><strong>Day
        Care Centers &amp; Nurseries</strong></a><em> (!NO4!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Funeral Escort Service"><strong>Funeral
        Escort Service</strong></a><em> (!NO5!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Funeral Homes"><strong>Funeral
        Homes</strong></a><em> (!NO6!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Funeral Planning"><strong>Funeral
        Planning</strong></a><em> (!NO7!)</em></li>
      </font>
    </ul>
    </td>
    <td valign="top" align="left" width="45%"><ul>
      <font face="!FONT!" size="!SIZE!" color="#000000">
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=House %26 Apartment Cleaning"><strong>House
        &amp; Apartment Cleaning</strong></a><em> (!NO8!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=House Sitters"><strong>House
        Sitters</strong></a><em> (!NO9!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Laundries"><strong>Laundries</strong></a><em>
        (!NO10!)</em></font></li>
      <font face="!FONT!" size="!SIZE!" color="#000000">
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Pet Foods %26 Supplies Retail"><strong>Pet
        Foods &amp; Supplies Retail</strong></a><em> (!NO11!)</em></font></li>
      <font face="!FONT!" size="!SIZE!" color="#000000">
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Pet Grooming Clipping %26 Washing"><strong>Pet
        Grooming Clipping &amp; Washing</strong></a><em> (!NO12!)</em></font></li>
      <font face="!FONT!" size="!SIZE!" color="#000000">
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Pet Shops"><strong>Pet
        Shops</strong></a><em> (!NO13!)</em></font></li>
      <font face="!FONT!" size="!SIZE!" color="#000000">
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Pet Sitting Services"><strong>Pet
        Sitting Services</strong></a><em> (!NO14!)</em></font></li>
    </ul>
    </td>
    <td valign="top" align="left" width="5%"></td>
  </tr>
</table>
</center></div>
</body>
</html>
