<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" background="!BACKGROUND!">
<div align="center"><center>

<table CELLPADDING="0" border="0" WIDTH="90%" cellspacing="0">
  <tr>
    <td width="100%"><form method="POST" action="!HOMECGI!/advanced2.pl">
      <input type="hidden" name="address1" value="Doesn't Matter"><input type="hidden"
      name="address2" value="Doesn't Matter"><input type="hidden" name="category"
      value="Doesn't Matter"><input type="hidden" name="city" value="Doesn't Matter"><input
      type="hidden" name="companyemailaddress" value="Doesn't Matter"><input type="hidden"
      name="country" value="Doesn't Matter"><input type="hidden" name="date"
      value="Doesn't Matter"><input type="hidden" name="date2" value="Doesn't Matter"><input
      type="hidden" name="emailaddr" value="Doesn't Matter"><input type="hidden"
      name="establish" value="Doesn't Matter"><input type="hidden" name="fax"
      value="Doesn't Matter"><input type="hidden" name="homepage" value="Doesn't Matter"><input
      type="hidden" name="host" value="Doesn't Matter"><input type="hidden" name="id"
      value="Doesn't Matter"><input type="hidden" name="ip" value="Doesn't Matter"><input
      type="hidden" name="name" value="Doesn't Matter"><input type="hidden" name="phone"
      value="Doesn't Matter"><input type="hidden" name="searchtype" value="1"><input
      type="hidden" name="state" value="Doesn't Matter"><input type="hidden" name="zipcode"
      value="Doesn't Matter"><table border="0" cellpadding="0" width="100%" cellspacing="0">
        <tr>
          <td width="100%" valign="bottom" align="right"><div align="center"><center><p><input
          type="text" name="keys" size="50" style="font-family: !FONT!, !FONT!">&nbsp; <input
          src="!HOME!/pics/search.gif" name="I1" alt="Enter" type="image" align="absbottom">
          &nbsp;&nbsp; <font face="!FONT!" size="!SIZE!" color="#000000"><em><a
          href="!HOMECGI!/advanced.pl">advanced search</a></em></font></td>
        </tr>
      </table>
    </form>
    </td>
  </tr>
</table>
</center></div><div align="center"><center>

<table CELLPADDING="5" border="0" WIDTH="90%">
  <tr align="center">
    <td colspan="2" height="10"></td>
  </tr>
  <tr align="center">
    <td valign="middle" align="left" height="20"><p align="left"><font face="!FONT!"
    size="!SIZE!" color="#000000"><strong><a href="!HOMECGI!/index.pl">Home</a> &gt; </strong></font><b><font
    face="!FONT!" size="!SIZE!">Food &amp; Dining</font></b><font face="!FONT!" size="!SIZE!"
    color="#000000"><strong> </strong><em>(!NO!)</em></font></td>
    <td valign="middle" align="right" height="20"><font face="!FONT!" size="!SIZE!"
    color="#000000"><em><p align="right"></em>» <a href="!HOMECGI!/all.pl">search all
    categories</a></font></td>
  </tr>
  <tr align="center">
    <td valign="middle" align="center" colspan="2"><hr noshade color="#FF9933" size="1">
    </td>
  </tr>
</table>
</center></div><div align="center"><center>

<table CELLPADDING="5" border="0" WIDTH="90%">
  <tr align="center">
    <td valign="top" align="left" width="5%"></td>
    <td valign="top" align="left" width="45%"><ul>
      <font face="!FONT!" size="!SIZE!" color="#000000">
      <li><strong><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Baby Foods">Baby
        Foods</a></strong><em> (!NO1!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Bakers Retail"><strong>Bakers
        Retail</strong></a><em> (!NO2!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Beer %26 Ale"><strong>Beer
        &amp; Ale</strong></a><em> (!NO3!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Beverage Dealers Retail"><strong>Beverage
        Dealers Retail</strong></a><em> (!NO4!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Brewers"><strong>Brewers</strong></a><em>
        (!NO5!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Cafes"><strong>Cafes</strong></a><em>
        (!NO6!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Candy %26 Confectionery Retail"><strong>Candy
        &amp; Confectionery Retail</strong></a><em> (!NO7!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Caterers"><strong>Caterers</strong></a><em>
        (!NO8!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Cheese"><strong>Cheese</strong></a><em>
        (!NO9!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Coffee Houses"><strong>Coffee
        Houses</strong></a><em> (!NO10!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Convenience Stores"><strong>Convenience
        Stores</strong></a><em> (!NO11!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Dairies"><strong>Dairies</strong></a><em>
        (!NO12!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Delicatessens"><strong>Delicatessens</strong></a><em>
        (!NO13!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Donuts"><strong>Donuts</strong></a><em>
        (!NO14!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Fish %26 Chips"><strong>Fish
        &amp; Chips</strong></a><em> (!NO15!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Fish Meals %26 Oils"><strong>Fish
        Meals &amp; Oils</strong></a><em> (!NO16!)</em></li>
      </font>
    </ul>
    </td>
    <td valign="top" align="left" width="45%"><ul>
      <font face="!FONT!" size="!SIZE!" color="#000000">
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Fish Seafood Retail"><strong>Fish
        Seafood Retail</strong></a><em> (!NO17!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Food Products"><strong>Food
        Products</strong></a><em> (!NO18!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Fruits %26 Vegetables Retail"><strong>Fruits
        &amp; Vegetables Retail</strong></a><em> (!NO19!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Gourmet Shops"><strong>Gourmet
        Shops</strong></a><em> (!NO20!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Grocers Retail"><strong>Grocers
        Retail</strong></a><em> (!NO21!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Health Foods Retail"><strong>Health
        Foods Retail</strong></a><em> (!NO22!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Ice Cream %26 Frozen Desserts Retail"><strong>Ice
        Cream &amp; Frozen Desserts Retail</strong></a><em> (!NO23!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Liquor %26 Food Delivery Service"><strong>Liquor
        &amp; Food Delivery Service</strong></a><em> (!NO24!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Liquor Stores"><strong>Liquor
        Stores</strong></a><em> (!NO25!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Meat Brokers"><strong>Meat
        Brokers</strong></a><em> (!NO26!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Pizza"><strong>Pizza</strong></a><em>
        (!NO27!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Poultry Retail"><strong>Poultry
        Retail</strong></a><em> (!NO28!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Restaurants"><strong>Restaurants</strong></a><em>
        (!NO29!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Sandwiches"><strong>Sandwiches</strong></a><em>
        (!NO30!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Wineries"><strong>Wineries</strong></a><em>
        (!NO31!)</em></li>
      <li><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Yogurt"><strong>Yogurt</strong></a><em>
        (!NO32!)</em></font></li>
    </ul>
    </td>
    <td valign="top" align="left" width="5%"></td>
  </tr>
</table>
</center></div>
</body>
</html>
