<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" background="!BACKGROUND!">
<div align="center"><center>

<table border="0" cellpadding="5" width="90%">
  <tr>
    <td width="100%" valign="top"><p align="center"><font face="!FONT!" size="!SUBSIZE!"><big><img
    src="!HOME!/pics/copyr.gif" alt="Copyright Notice" border="0"></big></font></p>
    <p align="left"><font face="!FONT!" size="!SIZE!">This site and the data contained in it
    are supplied solely for informational use. Apart from any fair dealing for the purpose of
    private study, research, criticism or review, as permitted under the Copyright Act, no
    part may be reproduced or re-used for any purpose whatsoever without written permission of
    !WEBSITE!. However, users may download individual listings for their own private use in
    the course of the normal use of this site for directory assistance purposes. <br>
    <br>
    This site and the publication contained within are !COPYRIGHT!. All rights to the digital
    map data presented on this web site are held by !COMPANY! and it's and their licensors.
    You may not reuse, export, transmit, duplicate, or publish the map data in any way
    (whether electronic or on paper) without the permission of !WEBSITE!.</font></td>
  </tr>
</table>
</center></div>
</body>
</html>
