<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" background="!BACKGROUND!">
<div align="center"><center>

<table border="0" cellpadding="5" width="90%">
  <tr>
    <td width="100%" align="center" valign="top"><p align="center"><img
    src="!HOME!/pics/sorry.gif" alt="Sorry!"><br>
    <br>
    <br>
    <br>
    <font face="!FONT!" size="!SIZE!">!MESSAGE!<br>
    <br>
    <br>
    <br>
    </font></p>
    <hr noshade color="#FF9933" size="1">
    </td>
  </tr>
  <tr>
    <td width="100%" align="center"><font face="!FONT!" size="!SIZE!">Please go back in your
    browser and try again.<br>
    </font></td>
  </tr>
</table>
</center></div>
</body>
</html>
