<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" background="!BACKGROUND!">
<div align="center"><center>

<table CELLPADDING="0" border="0" WIDTH="90%" cellspacing="0">
  <tr>
    <td width="100%"><form method="POST" action="!HOMECGI!/advanced2.pl">
      <input type="hidden" name="address1" value="Doesn't Matter"><input type="hidden"
      name="address2" value="Doesn't Matter"><input type="hidden" name="category"
      value="Doesn't Matter"><input type="hidden" name="city" value="Doesn't Matter"><input
      type="hidden" name="companyemailaddress" value="Doesn't Matter"><input type="hidden"
      name="country" value="Doesn't Matter"><input type="hidden" name="dateadd"
      value="Doesn't Matter"><input type="hidden" name="datemod" value="Doesn't Matter"><input
      type="hidden" name="emailaddr" value="Doesn't Matter"><input type="hidden"
      name="establish" value="Doesn't Matter"><input type="hidden" name="fax"
      value="Doesn't Matter"><input type="hidden" name="homepage" value="Doesn't Matter"><input
      type="hidden" name="host" value="Doesn't Matter"><input type="hidden" name="id"
      value="Doesn't Matter"><input type="hidden" name="ip" value="Doesn't Matter"><input
      type="hidden" name="name" value="Doesn't Matter"><input type="hidden" name="phone"
      value="Doesn't Matter"><input type="hidden" name="searchtype" value="1"><input
      type="hidden" name="state" value="Doesn't Matter"><input type="hidden" name="zipcode"
      value="Doesn't Matter"><table border="0" cellpadding="0" width="100%" cellspacing="0">
        <tr>
          <td width="100%" valign="middle" align="center" height="40"><div align="center"><center><p><input
          type="text" name="keys" size="50" style="font-family: !FONT!, !FONT!">&nbsp; <input
          src="!HOME!/pics/search.gif" name="I1" alt="Enter" type="image" align="absbottom">
          &nbsp;&nbsp; <em><font face="!FONT!" size="!SIZE!" color="#000000"><a
          href="!HOMECGI!/advanced.pl">advanced search</a></font></em></td>
        </tr>
      </table>
    </form>
    </td>
  </tr>
</table>
</center></div><div align="center"><center>

<table CELLPADDING="0" border="0" WIDTH="90%" cellspacing="0">
  <tr align="center">
    <td width="7%"></td>
    <td valign="top" align="left" width="45%"><div align="center"><center><table border="0"
    cellpadding="15" width="100%">
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><a
        href="!HOMECGI!/categories.pl?sub=1"><b>Arts &amp; Entertainment</b></a><br>
        </font><font face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Bars">Bars</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Cinemas">Cinemas</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Clubs">Clubs</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Theatres">Theatres</a>
        ...</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><a
        href="!HOMECGI!/categories.pl?sub=2"><b>Autos &amp; Boats</b></a><br>
        </font><font face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Automobile Dealers New Cars">New
        Cars</a>, <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Automobile Dealers Used Cars">Used
        Cars</a>, <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Automobile Repairing %26 Service">Repairing</a>
        ...</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><b><a
        href="!HOMECGI!/categories.pl?sub=3">Business &amp; Professional</a></b><br>
        </font><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;dateadd=Doesn't%20Matter&amp;datemod=Doesn't%20Matter&amp;category=Accountants"><font
        face="!FONT!" size="!SUBSIZE!">Accountants</font></a><font face="!FONT!" size="!SIZE!"
        color="#000000">,</font><font face="!FONT!" size="!SUBSIZE!" color="#000000"> </font><font
        face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Advertising">Advertising</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Lawyers">Lawyers</a>
        ...</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><b><a
        href="!HOMECGI!/categories.pl?sub=4">Clothing &amp; Fashion</a></b><br>
        </font><font face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Cosmetics %26 Perfumes Retail">Cosmetics</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Fabric Shops">Fabric</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Jeans Retail">Jeans</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Shoes Retail">Shoes</a>
        ...</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><b><a
        href="!HOMECGI!/categories.pl?sub=5">Community</a></b><br>
        </font><font face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Embassies">Embassies</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Government">Government</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Libraries Public">Libraries</a>
        ...</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><b><a
        href="!HOMECGI!/categories.pl?sub=6">Computers &amp; Electronics</a></b><br>
        </font><font face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Telephone">Telephones</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Computer">Computers</a></font><font
        face="!FONT!" size="!SIZE!">, </font><font face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Television">Televisions</a>
        ...</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><b><a
        href="!HOMECGI!/categories.pl?sub=7">Education &amp; Training</a></b><br>
        </font><font face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Schools Academic Colleges %26 Universities">Colleges
        &amp; Universities</a>, <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Tutoring">Tutoring</a>
        ...</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><a
        href="!HOMECGI!/categories.pl?sub=8"><b>Family Guide</b></a><br>
        </font><font face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Day Care Centers %26 Nurseries">Day
        Care</a>, <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Pet Shops">Pet
        Shops</a>, <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Laundries">Laundries</a>
        ...</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><a
        href="!HOMECGI!/categories.pl?sub=9"><b>Food &amp; Dining</b></a><br>
        </font><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Cafes"><font
        face="!FONT!" size="!SUBSIZE!">Cafes</font></a><font face="!FONT!" size="!SUBSIZE!"
        color="#000000">, </font><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Pizza"><font
        face="!FONT!" size="!SUBSIZE!">Pizza</font></a><font face="!FONT!" size="!SUBSIZE!"
        color="#000000">, <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Restaurants">Restaurants</a>,
        ...</font></td>
      </tr>
    </table>
    </center></div></td>
    <td valign="top" align="left" width="45%"><div align="center"><center><table border="0"
    cellpadding="15" width="100%">
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><a
        href="!HOMECGI!/categories.pl?sub=10"><b>Health &amp; Medicine</b></a><br>
        </font><font face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Clinics">Clinics</a><em>,
        </em><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Dentists">Dentists</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Pharmacies">Pharmacies</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Hospitals">Hospitals</a>,
        ...</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><a
        href="!HOMECGI!/categories.pl?sub=11"><b>Home Guide</b></a><br>
        </font><font face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Contractors General">Contractors</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Furniture Dealers Retail">Furniture
        Dealers</a>, <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Pest Control Services">Pest
        Control</a>, ...</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><a
        href="!HOMECGI!/categories.pl?sub=12"><b>Money &amp; Finance</b></a><br>
        </font><font face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Banks">Banks</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Financing">Financing</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Loans">Loans</a>
        ...</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><a
        href="!HOMECGI!/categories.pl?sub=13"><b>Personal &amp; Fitness</b></a><br>
        </font><font face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Beauty Salons">Beauty
        Salons</a>, <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Fitness Centers">Fitness
        Centers</a>, <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Massages">Massages</a>
        ...</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><a
        href="!HOMECGI!/categories.pl?sub=14"><b>Real Estate</b></a><br>
        </font><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Apartments"><font
        face="!FONT!" size="!SUBSIZE!">Apartments</font></a><font face="!FONT!" size="!SIZE!">, </font><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Real Estate Brokers"><font
        face="!FONT!" size="!SUBSIZE!">Brokers</font></a><font face="!FONT!" size="!SIZE!">, </font><font
        face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Real Estate Developers">Developers</a>
        ...</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><a
        href="!HOMECGI!/categories.pl?sub=15"><b>Shopping Guide</b></a><br>
        </font><font face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Department Stores">Department
        Stores</a>, <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Florists Retail">Florists</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Jewellers Retail">Jewellers</a>,
        ..</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><a
        href="!HOMECGI!/categories.pl?sub=16"><b>Sports &amp; Recreation</b></a><br>
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Recreation Centers"><font
        face="!FONT!" size="!SUBSIZE!">Recreation Centers</font></a>, </font><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Sporting Goods Retail"><font
        face="!FONT!" size="!SUBSIZE!">Sporting Goods</font></a><font face="!FONT!" size="!SIZE!">
        ...</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><font face="!FONT!" size="!SIZE!"><a
        href="!HOMECGI!/categories.pl?sub=17"><b>Travel</b></a><br>
        </font><font face="!FONT!" size="!SUBSIZE!"><a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Travel Agencies">Travel
        Agencies</a>, <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Hotels">Hotels</a>,
        <a
        href="!HOMECGI!/advanced2.pl?host=Doesn't%20Matter&amp;id=Doesn't%20Matter&amp;ip=Doesn't%20Matter&amp;emailaddr=Doesn't%20Matter&amp;category=Resorts">Resorts</a>
        ...</font></td>
      </tr>
      <tr>
        <td valign="top" align="left"></td>
        <td valign="top" align="left"><a href="!HOMECGI!/all.pl"><img src="!HOME!/pics/all.gif"
        alt="All Categories" border="0"></a></td>
      </tr>
    </table>
    </center></div></td>
    <td width="3%"></td>
  </tr>
  <tr>
    <td colspan="4" height="35" valign="top"></td>
  </tr>
  <tr align="center">
    <td colspan="4" valign="top" align="left"><p align="center"><font face="!FONT!"
    size="!SIZE!">* By accessing our !WEBSITE! electronic directory, you agree to use the
    directory in accordance with the <a href="!HOMECGI!/terms.pl">Service Agreement</a> and <a
    href="!HOMECGI!/privacy.pl">Privacy Policy</a>. We reserve the right to arrange for access
    to the directory to be withheld. If you have any questions about using the directory,
    please contact: <a href="mailto:!WEBMASTER!">!WEBMASTER!</a></font></td>
  </tr>
  <tr align="center">
    <td colspan="4" height="25"></td>
  </tr>
  <tr align="center">
    <td colspan="4" valign="middle" align="center"><font face="!FONT!" size="!SIZE!">Totals:
    &nbsp; !REGISTERED! inactivated&nbsp;member(s) - !ACTIVATED! registered&nbsp;member(s) -
    !TOTALPROFILES! profile(s).</font></td>
  </tr>
</table>
</center></div>
</body>
</html>
