<html>

<head>
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" link="#0000FF" background="!BACKGROUND!">
<div align="center"><center>

<table border="0" width="90%" cellpadding="5">
  <tr>
    <td align="right" valign="top" width="7%" bgcolor="#FFE699"><font face="!FONT!"
    size="!SIZE!">!NUM!.</font></td>
    <td align="left" valign="top" width="45%" bgcolor="#FFE699"><font face="!FONT!"
    size="!SIZE!"><a
    href="!HOMECGI!/org.pl?id=!ID!&amp;formlist=!LIST!&amp;formid=!ID!&amp;begin=!BEGIN!&amp;end=!END!">!NAME!</a>
    &nbsp;!NEW!</font></td>
    <td align="left" valign="top" width="25%" bgcolor="#FFE699"><font face="!FONT!"
    size="!SIZE!">!COUNTRY!</font></td>
    <td align="left" valign="top" width="15%" bgcolor="#FFE699"><font face="!FONT!"
    size="!SIZE!">!STATE!</font></td>
    <td align="center" valign="top" width="8%" bgcolor="#FFE699"><font face="!FONT!"
    size="!SIZE!">!LINK!</font></td>
  </tr>
</table>
</center></div>
</body>
</html>
