<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" text="#000000" background="!BACKGROUND!">

<form method="POST" action="!HOMECGI!/login.pl">
  <input type="hidden" name="id" value="!ID!"><div align="center"><center><table border="0"
  cellpadding="5" width="90%">
    <tr>
      <td colspan="2" width="100%" valign="top" align="center"><div align="center"><center><p><font
      face="!FONT!" size="!SIZE!"><img src="!HOME!/pics/member.gif" alt="Member Center"
      border="0"></font></p>
      </center></div><div align="center"><center><p><font face="!FONT!" size="!SIZE!">This is a<b>
      members only</b> area designed to be a simple and comfortable way to manage your
      organization account in real time.&nbsp; If you are already registered with us, just log
      in to manage your organization listing. If this is your first visit, you will need to <a
      href="!HOMECGI!/signup.pl">sign up</a>. Lost your password? <a href="!HOMECGI!/passwd.pl">Click
      here</a>.</font></td>
    </tr>
    <tr align="center">
      <td width="100%" colspan="2"><hr noshade color="#FF9933" size="1">
      </td>
    </tr>
    <tr align="center">
      <td width="40%" align="right" bgcolor="#FFE699"><strong><font face="!FONT!" size="!SIZE!">E-mail
      Address: </font></strong></td>
      <td width="60%" align="left" bgcolor="#FFE699"><font face="!FONT!" size="!SIZE!"><input
      type="text" size="30" name="formemailaddress"></font></td>
    </tr>
    <tr align="center">
      <td width="40%" align="right" bgcolor="#FFE699"><strong><font face="!FONT!" size="!SIZE!">Password:</font></strong></td>
      <td width="60%" align="left" bgcolor="#FFE699"><font face="!FONT!" size="!SIZE!"><input
      type="password" size="30" name="formpassword"></font></td>
    </tr>
    <tr align="center">
      <td colspan="2" width="100%"><hr noshade color="#FF9933" size="1">
      </td>
    </tr>
    <tr align="center">
      <td width="100%" colspan="2"><div align="center"><center><p><font face="!FONT!"
      size="!SIZE!"><input src="!HOME!/pics/enter.gif" name="I1" alt="Enter" type="image"
      border="0"></font></td>
    </tr>
  </table>
  </center></div>
</form>
</body>
</html>
