<html>

<head>
<meta http-equiv="REFRESH" content="!REDIRECT!; URL=!HOMECGI!/index.pl">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" background="!BACKGROUND!">
<div align="center"><center>

<table border="0" cellpadding="5" width="90%">
  <tr>
    <td width="100%" align="center"><img src="!HOME!/pics/confirm.gif"><br>
    <br>
    <font face="!FONT!" size="!SIZE!"><br>
    !MESSAGE!<br>
    <br>
    <br>
    </font><font color="#FF0000" face="!FONT!" size="!SIZE!"><strong>Note: Automatically
    Return to the Home after !REDIRECT! seconds</strong></font><p><font color="#FF0000"
    face="!FONT!" size="!SIZE!"><strong>&nbsp;</strong></font></td>
  </tr>
</table>
</center></div>
</body>
</html>
