<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" text="#000000" background="!BACKGROUND!">

<form method="POST" action="!HOMECGI!/passwd2.pl">
  <div align="center"><center><table border="0" cellpadding="5" width="90%">
    <tr>
      <td width="100%" colspan="2" valign="top" align="center"><div align="center"><center><p><small><img
      src="!HOME!/pics/password.gif" alt="Password" border="0"></small></p>
      </center></div><div align="center"><center><p><font face="!FONT!" size="!SIZE!">Please
      enter your e-mail address and activation code in the text box below to retrieve your
      password. If you still cannot find the answer you're looking for, please <a
      href="mailto:!WEBMASTER!">contact the !WEBSITE!</a>. </font></td>
    </tr>
    <tr>
      <td width="100%" colspan="2"><hr noshade color="#FF9933" size="1">
      </td>
    </tr>
    <tr>
      <td width="45%" bgcolor="#FFE699" align="right"><font color="#FF0000" size="3"
      face="!FONT!" size="!SIZE!"><div align="right"><p></font><font face="!FONT!" size="!SIZE!"><strong>E-mail
      Address:</strong></font></td>
      <td width="55%" bgcolor="#FFE699" align="left"><big><font face="!FONT!" size="!SIZE!"><input
      type="text" size="20" name="emailaddress"></font></big></td>
    </tr>
    <tr>
      <td width="45%" bgcolor="#FFE699" align="right"><font face="!FONT!" size="!SIZE!"><strong>Activation
      Code:</strong></font></td>
      <td width="55%" bgcolor="#FFE699" align="left"><big><font face="!FONT!" size="!SIZE!"><input
      type="password" size="20" name="code" maxlength="8"></font></big></td>
    </tr>
    <tr>
      <td width="100%" colspan="2"><hr noshade color="#FF9933" size="1">
      </td>
    </tr>
    <tr>
      <td width="100%" colspan="2"><div align="center"><center><p><input
      src="!HOME!/pics/enter.gif" name="I1" alt="Enter" type="image" border="0"></td>
    </tr>
  </table>
  </center></div>
</form>
</body>
</html>
