<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" background="!BACKGROUND!">
<div align="center"><center>

<table border="0" cellpadding="5" width="90%">
  <tr>
    <td width="100%" valign="top"><p align="center"><big><big><font face="!FONT!"
    size="!SUBSIZE!"><img src="!HOME!/pics/privacy.gif" alt="Privacy Statement" border="0"></font></big></big></p>
    <p align="left"><font face="!FONT!" size="!SIZE!">This website is owned and operated by
    !COMPANY!. (&quot;!WEBSITE!&quot;). !WEBSITE! can be contacted by e-mail at<a
    href="mailto:!WEBMASTER!"> !WEBMASTER!</a>. The following policies apply to the website
    with the Uniform Resource Locator (&quot;URL&quot;) at <a href="!URL!">!URL!</a> and all
    other websites owned and operated by !WEBSITE! directly accessible from that URL
    (collectively, the &quot;!WEBSITE! websites&quot;). For purposes of this Privacy Policy,
    !WEBSITE! shall include !WEBSITE!, its wholly-owned subsidiaries and its successors in
    interest.</font></p>
    <p align="left"><font face="!FONT!" size="!SIZE!">This Privacy Policy applies to both
    members and members of services offered at the !WEBSITE! websites.</font></p>
    <font size="3"><ol>
      <b>
      <li><font face="!FONT!" size="!SIZE!">Collection of Personal Information from Members.</b>
        In order to access certain member services and restricted areas (the &quot;Restricted
        Services&quot;) within the !WEBSITE! websites, !WEBSITE! may require that members provide
        certain identifying information (the &quot;Registration Data&quot;) requested on an online
        registration form. This information may include member's legal name, company name,
        address, telephone number, or e-mail address;, areas of interest, password, method of
        payment, and if applicable, credit card number. !WEBSITE! reserves the right to request
        any additional information in establishing and maintaining member's account for use of the
        Restricted Services.<br>
        <br>
        </font><b></li>
      <li><font face="!FONT!" size="!SIZE!">Collection of Information from Members to !WEBSITE!
        websites.</b> !WEBSITE! does place Internet cookies on members' hard drives. Internet
        cookies save information such as the member's name, password, user-name, shopping cart,
        screen preferences, the pages of the !WEBSITE! websites viewed by the member, and the
        advertisements viewed or clicked by the member. When the member revisits the !WEBSITE!
        website, !WEBSITE! will recognize the member by the internet cookie and customize the
        member's experience. Members may decline the internet cookie by using the appropriate
        feature of their web client software, if available.<br>
        <br>
        </font><b></li>
      <li><font face="!FONT!" size="!SIZE!">!WEBSITE!'s Use of Personal Information Collected from
        Members.</b> For all members to the !WEBSITE! websites, personal and non-personally
        identifiable information, including Registration Data collected by !WEBSITE! will be used
        by !WEBSITE! internally for editorial and feedback purposes, for marketing and promotional
        purposes, for a statistical analysis of members' behavior, for product development, for
        content improvement, to inform advertisers as to how many members have been clicked on
        their advertisements, and to customize content and layout of the !WEBSITE! websites.
        Names, postal and e-mail addresses, and phone numbers collected may be added to
        !WEBSITE!'s databases and used by !WEBSITE! for future calls and mailing regarding site
        updates, new products and services, upcoming events, and status of orders placed online.
        Except as otherwise provided, !WEBSITE! will not send to member information concerning
        !WEBSITE!, the !WEBSITE! websites, or !WEBSITE!'s products and services, if member selects
        the opt-out Provision described herein. Notwithstanding any opt-out selection, !WEBSITE!
        reserves the right to contact member concerning non-promotional information about member's
        account with !WEBSITE!.<br>
        </font></font><font face="!FONT!" size="3"><br>
        </font><font size="3"><b></li>
      <li><font face="!FONT!" size="!SIZE!">Unsubscribe Right.</b> If member does not wish to
        receive any special offers or promotional communication from !WEBSITE!, member has the
        right to remove the membership account at any time afterwards.<br>
        </font></font><font face="!FONT!" size="3"><br>
        </font><font size="3"><b></li>
      <li><font face="!FONT!" size="!SIZE!">Disclosure of Information to Third Parties.</b>
        !WEBSITE! will not share, rent, sell or otherwise disclose personally identifiable
        information to third parties without obtaining member's consent. !WEBSITE! will disclose
        to third parties only: A) information knowingly and voluntarily disclosed by members as
        being disclosable to third parties; B) information to the financial institution that
        processes members' credit card transactions; C) information that does not include
        personally identifiable information; and/or D) information that is publicly available.
        Additionally, through the use of third party cookies, advertiser may be electronically
        notified when members view or click on its advertisements.<br>
        <b><strong><br>
        </strong></font></li>
      <li><font face="!FONT!" size="!SIZE!"><strong>Advertisements and Listings to Forums,
        Bulletin Boards and Chat Groups</strong>. </b>All member advertisements and listings to
        public areas of the !WEBSITE! websites including without limitation forums, chat rooms and
        bulletin boards (collectively, the &quot;Public Areas&quot;), should be conducted using
        member's pseudonymous &quot;screen name.&quot; All postings to the public areas become
        public and, therefore, care should be taken in disclosing personal information. Listings
        made in the public areas may not be changed or deleted by members or members.<br>
        <br>
        Members should never disclose personally identifiable information (including without
        limitation name, email address, phone number, and real world address) in the public areas.
        When communicating directly with another member, members may exchange personally
        identifiable information at member's discretion. However, members are strongly cautioned
        to be prudent in deciding whether and how to reveal personally identifiable information.
        !WEBSITE! DISCLAIMS ALL LIABILITY FOR DAMAGES ARISING FROM VISITOR'S DISCLOSURE OF
        PERSONALLY IDENTIFIABLE INFORMATION.<br>
        <br>
        Any information disclosed to other members or third parties, in the public areas, through
        email or outside of our system, can be used by others and may result in unsolicited email
        messages or other communication from third parties.<br>
        </font><b><font face="!FONT!" size="3"><br>
        </font></li>
      <li><font face="!FONT!" size="!SIZE!">User Access to Information Collected.</b> Member may
        access his/her registration data at any time through the !WEBSITE! web sites. This area is
        password-protected. Once a member registers, member may review &amp; change certain
        personally identifiable information such as email address, city, state, zip code &amp;
        country, and user profile. Please promptly update information as necessary.<br>
        </font></font><font face="!FONT!" size="3"><br>
        </font><font size="3"><b></li>
      <li><font face="!FONT!" size="!SIZE!">Control of Password.</b> Passwords should be: a)
        non-obvious; b) regularly changed; and c) not disclosed to any third parties. If a
        third-party learns of a password, the password's owner may lose control over his/her
        listings and/or personally identifiable information, and may be subject to legally binding
        actions taken on his/her behalf. If, for any reason, a password is suspected to have been
        compromised, it should be changed immediately.<br>
        </font></font><font face="!FONT!" size="3"><br>
        </font><font size="3"><b></li>
      <li><font face="!FONT!" size="!SIZE!">Lost or Stolen Information.</b> If member's credit
        card or password is stolen or used without member's permission, member should immediately
        notify !WEBSITE!. Upon proper notification, !WEBSITE! will cancel appropriate credit card
        number and/or password and update its records. Member may be unable to access certain
        services while !WEBSITE! processes the change.<br>
        </font><br>
        <b></li>
      <li><font face="!FONT!" size="!SIZE!">!WEBSITE!'s Right to Contact User.</b> Notwithstanding
        anything to the contrary herein, !WEBSITE! reserves the right to contact members regarding
        account status, changes to the member agreement, privacy policy, or any other agreements
        or policies, or for any non-promotional reason.<br>
        </font><br>
        <b></li>
      <li><font face="!FONT!" size="!SIZE!">Partners, Affiliates and Links.</b> !WEBSITE! is
        affiliated with many other sites and service providers, all of whom have privacy practices
        independent of !WEBSITE!. !WEBSITE! disclaims any responsibility or liability for any
        other sites' privacy policies or activities. Once a member clicks on an external link
        within the !WEBSITE! Websites, member may be entering another website where !WEBSITE!'s
        privacy policy does not apply.<br>
        </font><br>
        <b></li>
      <li><font face="!FONT!" size="!SIZE!">No Liability for Acts of Third Parties.</b> Computers,
        computer networks and transmission made by means of the internet and computer networks
        cannot be made absolutely secure. !WEBSITE! WILL HAVE NO LIABILITY FOR DAMAGES ARISING
        FROM DISCLOSURE OF INFORMATION AND/OR REGISTRATION DATA ARISING FROM: A) MEMBERS'
        DISCLOSURE OF SUCH INFORMATION IN PUBLIC AREAS; B) ERRORS IN TRANSMISSION; C) UNAUTHORIZED
        ACTS, INTRUSIONS OR INTERCEPTIONS; AND/OR D) COMPLIANCE WITH THIS PRIVACY POLICY.<br>
        <br>
        </font><b></li>
      <li><font face="!FONT!" size="!SIZE!">Disclosure in Event of Suspected Improper Use.</b>
        Notwithstanding anything herein to the contrary, !WEBSITE! shall be permitted to disclose
        information and registration data, including personally identifiable information, to third
        parties as follows: A) in response to a request by law enforcement authorities; B) in
        response to any court-ordered subpoena or other process under color of law; and/or C) when
        !WEBSITE! reasonably believes that a member or member has breached the terms of any
        agreement with !WEBSITE! or a third party, violated the rights of any third party, or
        violated any law, statute or regulation.<br>
        </font></font><font face="!FONT!" size="3"><br>
        </font><font size="3"><b></li>
      <li><font face="!FONT!" size="!SIZE!">Ownership of Information.</b> All information
        collected, including registration data, is the property of !WEBSITE!, and is subject to
        and protected by state and federal law.<br>
        </font></font><font face="!FONT!" size="3"><br>
        </font><b><font size="3"></li>
      <li></font><font face="!FONT!" size="!SIZE!">Updates.</b> !WEBSITE! reserves the right to
        change or update at any time this Privacy Policy, or any other !WEBSITE! policy or
        practice. Any changes or updates will be effective immediately upon posting to the
        !WEBSITE! Websites.</font></li>
    </ol>
    </td>
  </tr>
</table>
</center></div>
</body>
</html>
