<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" text="#000000" background="!BACKGROUND!">

<form method="POST" action="!HOMECGI!/signup2.pl">
  <div align="center"><center><table border="0" cellpadding="5" width="90%">
    <tr>
      <td width="100%" colspan="2" valign="top" align="center"><div align="center"><center><p><font
      face="!FONT!" size="!SIZE!"><small><img src="!HOME!/pics/signup.gif" alt="Sign Up"
      border="0"></small></font></p>
      </center></div><div align="left"><p><font face="!FONT!" size="!SIZE!">Registering with
      !WEBSITE! is easy and fast. By becoming a registered member, you have access to <strong><a
      href="!HOMECGI!/member.pl">Member Center</a></strong> and many other great services and
      features. </font><font color="#000000" face="!FONT!" size="!SIZE!">Please enter your
      e-mail address and password in the text box below to </font><font color="#000000"><font
      size="!SIZE!"><font face="!FONT!">register</font></font><font face="!FONT!" size="!SIZE!">
      </font></font><font face="!FONT!" size="!SIZE!" color="#000000">a membership account. </font></td>
    </tr>
    <tr>
      <td width="100%" colspan="2"><hr noshade color="#FF9933" size="1">
      </td>
    </tr>
    <tr>
      <td width="40%" align="right" bgcolor="#FFE699"><font face="!FONT!" size="!SIZE!"><strong>E-mail
      Address:</strong></font></td>
      <td width="60%" align="left" bgcolor="#FFE699"><font face="!FONT!" size="!SIZE!"><big><input
      type="text" size="30" name="formemailaddress"></big></font></td>
    </tr>
    <tr>
      <td width="40%" align="right" bgcolor="#FFE699"><font face="!FONT!" size="!SIZE!"><strong>Password:</strong></font></td>
      <td width="60%" align="left" bgcolor="#FFE699"><big><font face="!FONT!" size="!SIZE!"><input
      type="password" size="30" name="formpassword" maxlength="8"></font></big></td>
    </tr>
    <tr>
      <td colspan="2" width="100%"><hr noshade color="#FF9933" size="1">
      </td>
    </tr>
    <tr>
      <td width="100%" colspan="2"><div align="center"><center><p><font face="!FONT!"
      size="!SIZE!"><input src="!HOME!/pics/enter.gif" name="I1" alt="Enter" type="image"
      border="0"></font></td>
    </tr>
  </table>
  </center></div>
</form>
</body>
</html>
