<html>

<head>
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" background="!BACKGROUND!">

<form method="POST" action="!HOMECGI!/advanced2.pl">
  <input type="hidden" name="address1" value="Doesn't Matter"><input type="hidden"
  name="address2" value="Doesn't Matter"><input type="hidden" name="category"
  value="Doesn't Matter"><input type="hidden" name="city" value="Doesn't Matter"><input
  type="hidden" name="companyemailaddress" value="Doesn't Matter"><input type="hidden"
  name="country" value="Doesn't Matter"><input type="hidden" name="dateadd"
  value="Doesn't Matter"><input type="hidden" name="datemod" value="Doesn't Matter"><input
  type="hidden" name="emailaddr" value="Doesn't Matter"><input type="hidden"
  name="establish" value="Doesn't Matter"><input type="hidden" name="fax"
  value="Doesn't Matter"><input type="hidden" name="homepage" value="Doesn't Matter"><input
  type="hidden" name="host" value="Doesn't Matter"><input type="hidden" name="id"
  value="Doesn't Matter"><input type="hidden" name="ip" value="Doesn't Matter"><input
  type="hidden" name="name" value="Doesn't Matter"><input type="hidden" name="phone"
  value="Doesn't Matter"><input type="hidden" name="searchtype" value="1"><input
  type="hidden" name="state" value="Doesn't Matter"><input type="hidden" name="zipcode"
  value="Doesn't Matter"><div align="center"><center><table border="0" cellpadding="5"
  width="90%">
    <tr>
      <td width="100%" bgcolor="#FFD966" valign="middle" align="center" height="50"><div
      align="center"><center><p><font face="!FONT!" size="!SIZE!"><strong>New search:</strong></font>
      <input type="text" name="keys" size="35" style="font-family: !FONT!, !FONT!">&nbsp; <input
      src="!HOME!/pics/search.gif" name="I1" alt="Enter" type="image" align="absmiddle"
      border="0">&nbsp;&nbsp;<font face="!FONT!" size="!SIZE!" color="#000000"><em> <a
      href="!HOMECGI!/advanced.pl">advanced search</a></em></font></td>
    </tr>
  </table>
  </center></div>
</form>
</body>
</html>
