<html>

<head>
<meta http-equiv="REFRESH" content="!REDIRECT!; URL=!HOMECGI!/member.pl">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" background="!BACKGROUND!">
<div align="center"><center>

<table border="0" cellpadding="5" width="90%">
  <tr>
    <td width="100%" align="center"><img src="!HOME!/pics/confirm.gif" alt="Confirmation"><br>
    <br>
    <br>
    <br>
    <font face="!FONT!" size="!SIZE!">!MESSAGE!<br>
    <br>
    <br>
    <br>
    <a href="!HOMECGI!/member.pl">Back to the Member Center</a>&nbsp;&nbsp; |&nbsp;&nbsp; <a
    href="!HOMECGI!/logout.pl">Logout&nbsp; the Member Center</a><br>
    <br>
    <br>
    <br>
    </font><font color="#FF0000" face="!FONT!" size="!SIZE!"><strong>Note: Automatically
    Return to the Member Center after !REDIRECT! seconds</strong></font><p>&nbsp;</td>
  </tr>
</table>
</center></div>
</body>
</html>
