<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" background="!BACKGROUND!">
<div align="center"><center>

<table border="0" cellpadding="5" width="90%">
  <tr>
    <td width="100%" valign="top"><p align="center"><font face="Arial" size="!SIZE!"><img
    src="!HOME!/pics/tips.gif" alt="Search Tips" border="0"></font></p>
    <blockquote>
      <p align="left"><font face="!FONT!" size="!SIZE!"><strong><br>
      <br>
      1. <a name="phrase">Phrase Search (&quot; &quot;)</a><br>
      </strong>Putting quotes around a set of words will only find Resultss that match the words
      in that exact sequence. </font></p>
    </blockquote>
    <blockquote>
      <div align="center"><center><table border="0" cellpadding="0" width="100%" cellspacing="0">
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example: </font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">&quot;business
          directory&quot;</font></td>
        </tr>
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Results:</font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">business
          directory, US Business Directory, global business directory pages, etc.</font></td>
        </tr>
      </table>
      </center></div>
    </blockquote>
    <blockquote>
      <p align="left"><font face="!FONT!" size="!SIZE!"><br>
      <strong>2. Wildcard Matching (*)</strong><br>
      Attaching a &quot;*&quot; to the right-hand side of a word will return left side partial
      matches.</font></p>
    </blockquote>
    <blockquote>
      <div align="center"><center><table border="0" cellpadding="0" width="100%" cellspacing="0">
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example:</font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">bu*</font></td>
        </tr>
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Results:</font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">bus, business,
          etc.</font></td>
        </tr>
      </table>
      </center></div>
    </blockquote>
    <blockquote>
      <p align="left"><font face="!FONT!" size="!SIZE!"><br>
      <strong>3. <a name="sec">Document Section Restrictions</a></strong><br>
      Attaching one the following operators to the front of a search word will restrict the
      search to a certain document sections. </font></p>
    </blockquote>
    <blockquote>
      <div align="center"><center><table border="0" cellpadding="0" width="100%" cellspacing="0">
        <tr>
          <td width="100%" colspan="2" valign="top" align="left"><font face="!FONT!" size="!SIZE!"><strong>or:</strong>
          - will restrict searches to document <strong>Organizations</strong> only</font></td>
        </tr>
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example:</font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">or:yellowbuilder</font></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" height="25" colspan="2"></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" colspan="2"><font face="!FONT!" size="!SIZE!"><strong>co:</strong>
          - will restrict searches to document <strong>Countries</strong> only</font></td>
        </tr>
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example:</font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">co:united
          states</font></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" height="25" colspan="2"></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" colspan="2"><font face="!FONT!" size="!SIZE!"><strong>st:</strong>
          - will restrict searches to document <strong>States</strong> only</font></td>
        </tr>
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example:</font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">st:california</font></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" height="25" colspan="2"></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" colspan="2"><font face="!FONT!" size="!SIZE!"><strong>ci:</strong>
          - will restrict searches to document <strong>Cities</strong> only</font></td>
        </tr>
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example:</font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">ci:san jose</font></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" height="25" colspan="2"></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" colspan="2"><font face="!FONT!" size="!SIZE!"><strong>ad:</strong>
          - will restrict searches to document <strong>Addresses</strong> only</font></td>
        </tr>
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example:</font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">ad:</font></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" height="25" colspan="2"></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" colspan="2"><font face="!FONT!" size="!SIZE!"><strong>zc:</strong>
          - will restrict searches to document <strong>Zip Codes</strong> only</font></td>
        </tr>
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example:</font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">zc:95110</font></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" height="25" colspan="2"></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" colspan="2"><font face="!FONT!" size="!SIZE!"><strong>pn:</strong>
          - will restrict searches to document <strong>Phone Numbers</strong> only</font></td>
        </tr>
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example:</font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">pn:123 456
          7890</font></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" height="25" colspan="2"></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" colspan="2"><font face="!FONT!" size="!SIZE!"><strong>fn:</strong>
          - will restrict searches to document <strong>Fax Numbers</strong> only</font></td>
        </tr>
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example:</font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">fn:123 456
          7890</font></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" height="25" colspan="2"></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" colspan="2"><font face="!FONT!" size="!SIZE!"><strong>es:</strong>
          - will restrict searches to document <strong>Established In</strong> only</font></td>
        </tr>
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example:</font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">es:2001</font></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" height="25" colspan="2"></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" colspan="2"><font face="!FONT!" size="!SIZE!"><strong>ws:</strong>
          - will restrict searches to document <strong>Web Sites</strong> only</font></td>
        </tr>
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example:</font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">ws:www.yellowbuilder.com</font></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" height="25" colspan="2"></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" colspan="2"><font face="!FONT!" size="!SIZE!"><strong>ca:</strong>
          - will restrict searches to document <strong>Categories</strong> only</font></td>
        </tr>
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example:</font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">ca:arts</font></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" height="25" colspan="2"></td>
        </tr>
        <tr>
          <td width="100%" valign="top" align="left" colspan="2"><font face="!FONT!" size="!SIZE!"><strong>id:</strong>
          - will restrict searches to document <strong>ID Numbers</strong> only</font></td>
        </tr>
        <tr>
          <td width="10%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example:</font></td>
          <td width="90%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">id:10</font></td>
        </tr>
      </table>
      </center></div>
    </blockquote>
    <blockquote>
      <p align="left"><font face="!FONT!" size="!SIZE!"><br>
      <strong>4. Combining the Syntax</strong><br>
      You may combine any of the query syntax as long as the syntax is combined in the proper
      order.</font></p>
    </blockquote>
    <blockquote>
      <div align="center"><center><table border="0" cellpadding="0" width="100%" cellspacing="0">
        <tr>
          <td width="17%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example 1:</font></td>
          <td width="83%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">business
          directory</font></td>
        </tr>
        <tr>
          <td width="17%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example 2:</font></td>
          <td width="83%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">or:business
          directory</font></td>
        </tr>
        <tr>
          <td width="17%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example 3:</font></td>
          <td width="83%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">&quot;or:business
          directory&quot;</font></td>
        </tr>
        <tr>
          <td width="17%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">Example 4:</font></td>
          <td width="83%" valign="top" align="left"><font face="!FONT!" size="!SIZE!">or:business*</font></td>
        </tr>
      </table>
      </center></div>
    </blockquote>
    </td>
  </tr>
</table>
</center></div>
</body>
</html>
