<html>

<head>
<title>!TITLE! - !SLOGAN!</title>
</head>

<body bgcolor="#FFFFCC" text="#000000" topmargin="0" leftmargin="0" link="#000000"
vlink="#000000" alink="#000000" background="!BACKGROUND!">
<div align="center"><center>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td width="70%" bgcolor="#FF9933" align="left" height="75" valign="middle"><p align="left"><img
    src="!HOME!/pics/header.gif" alt="!TITLE! - !SLOGAN!"></td>
    <td width="27%" bgcolor="#FF9933" align="right" height="75" valign="bottom"><p
    align="right"><font face="!FONT!" size="!SIZE!">!DATE!</font></td>
    <td width="3%" bgcolor="#FF9933" align="left" height="75"></td>
  </tr>
  <tr>
    <td height="30" width="100%" nowrap valign="middle" align="center" bgcolor="#FFD966"
    colspan="3"><table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td width="100%" valign="middle" align="center" bgcolor="#FFD966"><p align="center"><font
        face="!FONT!" size="!SIZE!" color="#000000"><strong>·</strong>&nbsp;&nbsp; <a
        href="!HOMECGI!/index.pl">Home</a>&nbsp; |&nbsp; <a href="!HOMECGI!/signup.pl">Sign Up</a>&nbsp;
        |&nbsp; <a href="!HOMECGI!/member.pl">Member Center</a></font></td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td height="35" width="100%" nowrap colspan="3"></td>
  </tr>
</table>
</center></div>
</body>
</html>
