</font></p>
                            <p><font color="#000000">Regards,<br>
                            The Wright &amp; Shields Webmaster</font></p>
                            </td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td bgcolor="#EAEDF4" background="http://www.wrightandshields.co.uk/themes/phpib2/images/cellpic1.gif" height="20"><table width="100%" border="0" cellspacing="0" cellpadding="4">
                          <tr>
                            <td><div align="center">&nbsp;</div></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</td>
</table>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="4" bgcolor="#FFFFFF">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="4" bgcolor="#FFFFFF">
        <tr>
          <td><div align="center"><font color="#000000">This newsletter was sent to you by
            </font>
            <a href="http://www.wrightandshields.co.uk">
            www.wrightandshields.co.uk</a><font color="#000000">. If you do not wish to receive this 
            newsletter anymore please reply to this email and your email 
            address will be removed from the system. Please do not reply to this 
            email for anything other than that.</font></div></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>