!</strong></font></td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td bgcolor="#EAEDF4" height="144"><table width="100%" border="0" cellspacing="0" cellpadding="4">
                          <tr>
                            <td>
                            <font color="#000000">This weeks latest cars for sale 
                            are as follows:</font>
                            <p><font color="#000000">