<html>
	<head>
  	<link rel="stylesheet" href="index.css" type="text/css">
  </head>
  <body>
     Welcome to Member's area, <%login%><br>
     <a href="?logout=1">Logout</a>
   <center>
    <%include(menu.template)%>
   <p>
  <table>
    <tr>
      <td valign="top" align="left"><%include(<%page%>.template)%>
  </table>
  </body>
</html>
