Dear %link_addname%,

Unfortunately the link you submitted to %sitename% for inclusion in
our links database has been rejected.

Name: %linkname%
URL: %url%

Your link has been deleted, and we have wiped the record of your
e-mail address from our system.  This is a one off mailing to keep
you informed of the progress of you link - you will not be contacted
again.