<b><a href="links.php">Links Home</a> : Link Validated</b><p>
An e-mail has been sent to %email% informing them that their link has been validated.<p>
<a href="links.php?action=validated">Back to Validation List</a><p>