<span class=small><a href="links.php">Links Home</a> | <a href="links.php?action=search">Search Links</a> | <a href="links.php?action=newlinks">New Links</a> | <a href="links.php?action=popular">Popular Links</a> | <a href="links.php?action=rated">Top Rated</a> | %login_or_validate% Powered by <a href="http://www.sslinks.co.uk/" target="_blank">ssLinks</a> v1.22</span>