<b><a href="links.php">Links Home</a> : New Links</b><p>
Displaying links added in the last %numdays% days.  A maximum of %maxnumlinks% links will be displayed.<p>
%links%
<p><form action=links.php method=get>Show links added in the last <input type=text name=days value="%numdays%" size=3> days. <input type=hidden name=action value=newlinks><input type=submit value=Go></form><p>