a:link, a:visited{
	font-weight: bold;
	font-size: 12px;
	color: #555555;
	text-decoration: none;
}

a:hover, a:active{
	color: black;
}
img{
	border: none;
}
.hidden{
	display: none;
}
.centerize{
	text-align: center;
}

body{
	color: #ff0000;
	font-size: 12px;
	font-family: Trebuchet MS, "Lucida Sans Unicode", Arial, Lucida Sans, Tahoma, Sans-Serif;
	background: #ffffff;
	text-align: center; padding-left:0; padding-right:0; padding-top:20px; padding-bottom:20px
}
h2{
	color: #000000;
	margin: 0 0 3px 0;
	font-size: 16px;
}
h3{
        color:#000000;
	margin: 0 0 8px 0;
	font-size: 14px;
}
h4{
	font-size: 11px;
}

table{
	font-size: 12px;
}
