/************************************************************
*  TAG STYLES
************************************************************/

body, div, span, label, tr, td, th, input, h1, h2, h3, h4, h5, a {
 font-family: verdana,sans-serif,arial,helvetica;
 color: black;
}

body {
 font-size: 12px;
 color: black;
 background-color: #ffffff;
 margin: 0px;
 padding: 0px;
}

a {
 font-size: 12px;
 color: #C60900;
}

a:hover {
 text-decoration: underline;
}	

 
table {
 margin: 0px;
 padding: 0px;
 font-size: 12px;
}

form {
 margin: 0px;
 padding: 0px;
 display: inline;
}

img {
 border: 0px;
}

h1 {
 font-size: 24px;
 color: black;
 margin-left: 0px;
 margin-right: 0px;
 margin-top: 0px;
 margin-bottom: 5px;
}

h2 {
 font-size: 20px;
 color: black;
 margin-left: 0px;
 margin-right: 0px;
 margin-top: 5px;
 margin-bottom: 5px;
}

h3 {
 font-size: 16px;
 color: #aaaaaa;
 margin-left: 0px;
 margin-right: 0px;
 margin-top: 10px;
 margin-bottom: 10px;
 border-bottom: 1px dotted #cccccc;
}

/************************************************************
* LAYOUT
* Used in template: header.tpl
************************************************************/

.lore_top {
 background-color: #C60900;
 padding: 15px;
 padding-left: 25px;
 color: white;
}

.lore_splash_header {
 color: white;
 font-size: 16px;
 font-weight: bold;
 padding: 5px;
 text-align: left;
}

.lore_top_buttons {
 padding: 5px;
 text-align: right;
}

.lore_option_tab {
 background-color: black;
 color: white;
 font-size: 10px;
 padding: 5px;
 padding-left: 25px;
 text-align: left;
}

.lore_left_panel {
 background-color: #fafafa;
 padding: 0px;
 margin-left: 10px;
 border-right: 1px dotted #cccccc;
}

.lore_content {
 padding: 10px;
}

/************************************************************
* COMMON
************************************************************/

.lore_normal_font {
 font-size: 12px;
 font-weight: normal;
}

.lore_small_font {
 font-size: 10px;
 font-weight: normal;
}

.lore_button {
 border: 1px solid black;
 background-color: #C60900;
 color: white;
 font-size: 9px;
}

.lore_content_box {
 background-color: white;
 margin-left: 5px;
 margin-right: 5px;
}

/************************************************************
* BREADCRUMB
* Used in template: header.tpl
************************************************************/

.lore_breadcrumb {
 background-color: #fafafa;
 font-size: 10px;
 font-weight: normal;
 text-align: left;
 padding: 3px;
 padding-left: 10px;
 text-align: right;
}

.lore_breadcrumb_current {
 font-weight: bold;
}

/************************************************************
*  LINKS
************************************************************/

.lore_normal_link {
 font-weight: bold;
 font-size: 11px;
 color: #C60900;
 text-decoration: none;
}

.lore_normal_link:hover {
 text-decoration: underline;
}

.lore_small_link {
 font-size: 10px;
 color: #C60900;
 text-decoration: none;
}

.lore_small_link:hover {
 text-decoration: underline;
}

.lore_dark_link {
 font-size: 10px;
 color: black;
 text-decoration: none;
}

.lore_dark_link:hover {
 text-decoration: none;
}

.lore_light_link {
 font-size: 10px;
 color: white;
 text-decoration: none;
}

.lore_light_link:hover {
 text-decoration: none;
}

.lore_glossary_term_link {
 font-size: 12px;
 font-weight: bold;
 cursor: help;
 border-bottom: 1px dotted;
 text-decoration: none;
}

.lore_glossary_term_link:hover {
 text-decoration: none;
}

/************************************************************
* GLOSSARY TERM POP-UP
* Used in template: glossary_term.tpl
************************************************************/

.lore_glossary_term_popup {
 padding: 5px;
 border: 1px dotted #dddddd;
 background-color: #f5f5f5;
}

.lore_glossary_term_popup_caption {
 font-size: 12px;
 font-weight: bold;
 margin-bottom: 5px;
}

.lore_glossary_term_popup_definition {
 font-size: 10px;
 padding: 0px;
}

/************************************************************
* CATEGORY TREE
* Used in template: category_tree.tpl
************************************************************/

div.lore_category_tree_base a {
 display: block;
 text-decoration: none;
 font-size: 10px;
 background-color: #bcbcbc;
 color: black;
 padding: 4px;
 margin: 0px;
 border-bottom: 1px solid white;
}

div.lore_category_tree_category a {
 display: block;
 text-decoration: none;
 font-size: 10px;
 background-color: #dddddd;
 color: black;
 padding: 4px;
 margin: 0px;
 border-bottom: 1px solid white;
}

div.lore_category_tree_category a:hover {
 display: block;
 text-decoration: none;
 font-size: 10px;
 background-color: #cccccc;
 color: black;
 padding: 4px;
 border-bottom: 1px solid white;
}

div.lore_category_tree_current_category a {
 display: block;
 text-decoration: none;
 font-size: 10px;
 font-weight: bold;
 background-color: #f5f5f5;
 color: black;
 padding: 4px;
 margin: 0px;
 border-bottom: 1px solid white;
}

div.lore_category_tree_current_category a:hover {
 display: block;
 text-decoration: none;
 font-size: 10px;
 font-weight: bold;
 background-color: #f5f5f5;
 color: black;
 padding: 4px;
 margin: 0px;
 border-bottom: 1px solid white;
}

/************************************************************
* CATEGORY LISTING
* Used in template: categories.tpl
************************************************************/

.lore_category {
 padding: 5px
}

/************************************************************
* ARTICLE PAGE
* Used in template: article.tpl
************************************************************/

.lore_article_info_box {
 font-size: 9px;
 background-color: #ffffff;
 border: 1px dotted #cccccc;
 text-align: left;
 margin-bottom: 3px;
 padding: 5px
}

.lore_article_info_box_label {
 background-color: #f0f0f0;
 font-size: 10px;
 padding: 3px;
 text-align: right;
}

.lore_article_info_box_data {
 font-size: 10px;
 padding: 3px;
 text-align: left;
}

.lore_article_content {
 background-color: #ffffff;
 padding: 5px;
 padding-left: 15px;
 font-size: 12px
}

.lore_article_admin_options {
 padding: 5px;
 font-size: 10px;
 font-weight: bold;
 background-color: #f0f0f0;
 border: 1px dotted #C60900;
}

.lore_article_comments {
 margin-top: 10px;
 margin-left: 25px;
 margin-right: 25px;
}

.lore_article_comment {
 font-size: 10px;
 margin: 10px;
 text-align: left;
}

.lore_article_comment_header {
 font-size: 10px;
 font-weight: normal;
 padding: 3px;
 background-color: #fafafa;
 border: 1px dotted #cccccc
}

.lore_article_comment_content {
 font-size: 10px;
 font-weight: normal;
 padding: 10px;
 text-align: left;
}

/************************************************************
* ARTICLE LISTINGS
* Used in templates: articles.tpl, article_short.tpl
************************************************************/

.lore_article {
 margin-bottom: 5px;
}

.lore_article_featured {
 margin-bottom: 5px;
}

.lore_article_preview_font {
 color: #404040;
 font-size: 10px;
}

.lore_article_details_font {
 color: #999999;
 font-size: 9px;
}

/************************************************************
* FORMS
* Used in templates: contact_form.tpl, email_article.tpl,
*                    comment.tpl
************************************************************/

.lore_form_table {
 background-color: white;
 border: 0;
 margin-left: 30px
}

.lore_form_field_info {
 font-size: 12px;
 padding: 3px;
 margin: 3px;
 background-color: #f5f5f5;
 border: 1px dotted #aaaaaa
}

.lore_form_field {
 font-size: 10px;
 padding: 3px;
 margin: 3px;
}

.lore_form_buttons {
 font-size: 10px;
 padding: 3px;
 margin: 3px;
 text-align: center
}

.lore_input {
 font-size: 9px;
 font-family: verdana,sans-serif;
 color: black;
 background-color: #dddddd;
 border: 1px solid black;
}

.lore_form_error {
 color: red;
}

/************************************************************
*  PROGRAM MESSAGE/ERROR
************************************************************/

.lore_message {
 font-size: 12px;
 text-align: center;
 border: 1px dotted #cccccc;
 padding: 3px;
 margin: 10px
}

.lore_error_message {
 margin: 25px;
}

/************************************************************
* PRINTER-FRIENDLY ARTICLE
* Used in template: article_print.tpl
************************************************************/

.print_article_header {
 font-size: 18px;
 font-weight: bold;
 background-color: #f5f5f5;
 border: 1px dotted #bbbbbb;
 padding: 5px;
 margin: 5px;
}

.print_article_box {
 font-size: 12px;
 background-color: white;
 padding: 5px;
 margin: 5px;
}
