.form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px outset #000000;
	cursor: help;
}
.botao {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	border: 1px inset #000000;
	margin: auto;
	padding: 1px;
	clear: right;
	float: left;
	height: auto;
	width: auto;
	background-color: #FFFFFF;

}
