RewriteEngine On 
RewriteRule ^article_(.*).html$ article.php?id=$1 [L] 
RewriteRule ^movie_(.*).html$ movie.php?id=$1 [L] 
RewriteRule ^movies_(.*).html movies.php?pagenumber=$1 [L]
RewriteRule ^articles_(.*).html articles.php?pagenumber=$1 [L]
